extends layout

block content
  div.row(ng-controller="wordAssociationController as vm", ng-cloak)
    
    div.row
      div#cards.row(ng-show="vm.initialized()")
        div.card-container.col-md-2.col-xs-2(ng-repeat="card in vm.cards")
          button.btn.card(id="card{{$index}}", ng-class="{ 'btn-default': vm.cardInfo[$index] === 'none', 'btn-danger': vm.cardInfo[$index] === 'red', 'btn-primary': vm.cardInfo[$index] === 'blue', 'btn-death': vm.cardInfo[$index] === 'death' }", ng-click="vm.chooseCard($index)", ng-disabled="vm.cardStatus[$index] === 'chosen'")
            div.word-container {{card}}
          div.card-cover(ng-show="vm.role === 'cluegiver'")
    
    div#player1.row.col-xs-12.no-padding-left-sm
      div.col-xs-12.h4.vertical-margin-10.no-padding-left(ng-show="vm.readyToPlay()") You:
      div.col-xs-12.no-padding-left
        div.row(ng-show="!vm.username")
          label.col-xs-12.no-padding-left-sm Username:
          div.col-xs-12.col-md-10.no-padding-left-sm
            input.form-control(ng-model="vm.usernameInput", ng-keypress="vm.usernameKeyPress($event)")
          div.col-xs-12.col-md-2.no-padding-right-md.no-padding-left-sm
            button.btn.btn-default.btn-wide(ng-click="vm.setUsername()") Set
        div(ng-show="vm.username") 
          label Username:&nbsp;
          span {{vm.username}}
      
      div.col-xs-12.no-padding-left(ng-show="vm.username")
        div.row(ng-show="!vm.team")
          label.col-xs-12.no-padding-left-sm Team:
          div.col-xs-12.col-md-6.no-padding-left-sm
            button.btn.btn-danger.btn-wide(ng-click="vm.setTeam('red')") Red
          div.col-xs-12.col-md-6.no-padding-right-md.no-padding-left-sm
            button.btn.btn-primary.btn-wide(ng-click="vm.setTeam('blue')") Blue
        div(ng-show="vm.team") 
          label Team:&nbsp;
          span(ng-class="{'red-text': vm.team === 'red', 'blue-text': vm.team === 'blue'}") {{vm.team === "red" ? "Red" : "Blue"}}

      div.col-xs-12.no-padding-left(ng-show="vm.team")
        div.row(ng-show="!vm.role")
          label.col-xs-12.no-padding-left-sm Role:
          div.col-xs-12.col-md-6.no-padding-left-sm
            button.btn.btn-default.btn-wide(ng-click="vm.setRole('guesser')") Guesser
          div.col-xs-12.col-md-6.no-padding-right-md.no-padding-left-sm
            button.btn.btn-default.btn-wide(ng-click="vm.setRole('cluegiver')") Clue Giver
        div(ng-show="vm.role")
          label Role:&nbsp;
          span {{vm.role === "guesser" ? "Guesser" : "Clue Giver"}}

    div.col-xs-12.no-padding-left
      div.col-xs-12.no-padding-left
        div#chat-window.chat-window.vertical-margin-10.col-xs-12.no-padding-left
          div(ng-repeat="message in vm.chatMessages") {{message.sender + " (" + message.timestamp + "): " + message.message}}
    div.row.col-xs-12.no-padding-left-sm
      div.col-xs-12.col-md-10.no-padding-left
        input.form-control(type="text", ng-model="vm.chatInput" ng-keypress="vm.inputKeyPress($event)")
      div.col-xs-12.col-md-2.no-padding-right-md.no-padding-left-sm
        button.btn.btn-default.btn-wide(type="button", ng-click="vm.sendChat()") Send

    div#otherPlayers.row.col-xs-12.no-padding-left.vertical-margin-10(ng-show="vm.players.length > 0")
      div.col-xs-12.h4.padding-bottom-10.no-padding-left-sm Other Players:
      div.col-xs-12.col-md-3.no-padding-left-sm(id="player{{$index}}", ng-repeat="player in vm.players")
        div
          label Username:&nbsp;
          span {{player.username}}
        div
          label Team:&nbsp;
          span(ng-class="{'red-text': player.team === 'red', 'blue-text': player.team === 'blue'}") {{player.team === "red" ? "Red" : "Blue"}}
        div
          label Role:&nbsp;
          span {{player.role === "guesser" ? "Guesser" : "Clue Giver"}}